.example-form {
   
    height:500px;
    width: 350px;
  }
  
  
  .example-full-width{
  width:350%;
  }
  .mat-button{
      background-color: #1565C0;
      border-color: #1565C0;
      margin-left:110px;
      width:150px;
      color:#fff;
  }