
.container-fluid{

  width: 1136px;
    padding: 50px;
    margin-top: 20px;
    border-radius:10px;
}
.imgUpload{
  margin-left:4px;
}
.btn btn-default{
  width:50px;
}
.btn-success{
  width:124px;
}
