<!-- <div class="container"> -->
  <div class="row">
    <div class="col-md-9">
        <div class="row text-center">
            <div class="col-md-4">
              <div class="btn-group">
                <div
                  class="btn btn-primary"
                  mwlCalendarPreviousView
                  [view]="view"
                  [(viewDate)]="viewDate"
                  (viewDateChange)="activeDayIsOpen = false">
                  Previous
                </div>
                <div
                  class="btn btn-outline-secondary"
                  mwlCalendarToday
                  [(viewDate)]="viewDate">
                  Today
                </div>
                <div
                  class="btn btn-primary"
                  mwlCalendarNextView
                  [view]="view"
                  [(viewDate)]="viewDate"
                  (viewDateChange)="activeDayIsOpen = false">
                  Next
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
            </div>
            <div class="col-md-4">
              <div class="btn-group">
                <div
                  class="btn btn-primary"
                  (click)="view = CalendarView.Month"
                  [class.active]="view === CalendarView.Month">
                  Month
                </div>
             <!--    <div
                  class="btn btn-primary"
                  (click)="view = CalendarView.Week"
                  [class.active]="view === CalendarView.Week">
                  Week
                </div>
                <div 
                  class="btn btn-primary"
                  (click)="view = CalendarView.Day"
                  [class.active]="view === CalendarView.Day">
                  Day
                </div> -->
              </div>
            </div>
          </div>
          <br>
          <div [ngSwitch]="view">
            <div  class="cal-month-view" >
            <mwl-calendar-month-view 
              *ngSwitchCase="CalendarView.Month"
              [viewDate]="viewDate"
              [events]="events"
              [refresh]="refresh"
              (beforeViewRender)="beforeMonthViewRender($event)"
              [tooltipAppendToBody]="tooltipAppendToBody"
              >
            </mwl-calendar-month-view>
          </div>
          <div class="cal-month-view">
            <mwl-calendar-week-view
              *ngSwitchCase="CalendarView.Week"
              [viewDate]="viewDate"
              [events]="events"
              [dayStartHour]="9"
              [dayEndHour]="20">
             
            </mwl-calendar-week-view>
            </div>
            <div class="cal-month-view">
            <mwl-calendar-day-view
              *ngSwitchCase="CalendarView.Day"
              [viewDate]="viewDate"
              [events]="events"
              [dayStartHour]="9"
              [dayEndHour]="20">
            </mwl-calendar-day-view>
            </div>
    </div>
    </div>
    <div class="col-md-3">
      <mat-card style="width:448px;height:237px;" >
        <mat-card-header style="background-color:#025aa5;height:50px;
        width: 449px; margin-left: -25px;margin-top: -24px; ">
          <h2 style="  color:#fff;  margin-top: 19px; margin-left: 132px;"><b> Attendance Status</b></h2>
        </mat-card-header>
        <mat-card-content>
            <table class="table table-bordered" style="width: 449px; margin-left: -25px;" >
                <tr>
                  <th style="width: 330px;">TOTAL DAYS</th>
                  <td class="data"></td>
                </tr> 
                <tr>
                  <th style="width: 330px;">WORKING DAYS</th>
                  <td class="data"></td>
                </tr> 
                <tr>
                  <th style="width: 330px;">PRESENT</th>
                  <td class="data"></td>
                </tr> 
                <tr>
                    <th style="width: 330px;">ABSENT</th>
                    <td class="data"></td>
                  </tr> 
                  <tr>
                    <th style="width: 330px;">WORKING HOURS</th>
                    <td class="data"></td>
                  </tr> 
              </table>            
        </mat-card-content>
      </mat-card>
    </div>
  </div>
<!-- </div> -->














































  
     


    



   
 

 


