.form-field{
    margin:5px;
}
/* mat-card{
    margin:20px;
} */

button{
    margin:5px;
}

p{
    color:red
}

.mat-dialog-container {
   
}

.card {
    width:50% !important;
    padding:0px !important;
}