.form-field{
    margin-left: 20px;
    margin:10px;
}

.btn{
    width:100px !important;
    margin:10px !important;
}

p{
    color:red
}

form{
    width:465px
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
  }
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }