.parent{
  padding:40px;
}
table {
    width: 100%;
  }

table, th, td {
    border: 2px solid #f2f2f2;
    padding:5px;
    font-size: small
 }

.card{
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
  width:50%;
  margin-top:30px;

}
.content {
  overflow: auto;
  border: 3px solid #666;
}

input{
  background-color: white;
}
p{
  font-size:12px;
}

.other{
  margin-top: 30px;
}

.mat-checkbox{
  padding:10px;
}

.btn{
  margin:3px !important;
}
