.example-card {
   
    padding:0;
    font-family: arial;
    width:100%;
    height: auto;
    margin-top:50px;
    margin-left:2px;
   
  }
  .header{
    color:white;
    background-color:#025aa5;
    border-color:#025aa5;
    height: 30px;

    font-size:18px;
  }