.example-card {
   padding:0;
   font-family: arial;
   height: auto;
    margin-top:115px;
}
.header{
    color:white;
    background-color:#025aa5;
    border-color:#025aa5;
    height: 30px;
    font-size:18px;
}
  
th{
    padding:10px;
     width: 70%;
}

.data{
    font-size: 14px;
    text-align: left;
    width:30%;
}
  
