.mat-form-field{
    margin-left: 500px;
}


table {
    width: 100%;
  }
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:#02102ce7;
    color: white;
}
table, th, td {
    border: 2px solid black;
 }

 td {
    height: 25px;
    width: 100px;
    vertical-align: bottom;
}
  .example-full-width {
    width: 100px;
  }
.button-generate{
    margin-left: 900px;
}
h2{
    color: rgb(15, 2, 63);
    text-align: center;
}
