<form>
<mat-form-field >
  <input matInput [matDatepicker]="picker" placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
     
<div><button mat-raised-button color="primary" class="add-button" (click)="openDialog()">ADD</button></div>

<div class ="container">
  <h2>PAYROLL</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
          <th>Name</th>
          <th>Working Days</th>  
          <th>Present</th>
        <th>Absent</th>
        <th>Basic Pay</th>
        <th>HRA</th>
        <th>Other</th>
        <th>Total</th>
        <th>Paid</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of allemployee">
        <td>{{emp.name}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <button mat-raised-button color="primary"(click)="openDialogmore(emp.emp_id)">More</button>   
        </td>
        <td></td>
        <td><mat-checkbox></mat-checkbox>
        </td>
      </tr>
      <tr>
        <td colspan="9"><h6>Total:</h6></td>
      </tr>
    </tbody>
  </table>
<div>
    <button mat-raised-button color="primary">Download pdf</button>
  <button mat-raised-button color="primary" class="button-generate">Process</button>
  </div>
</div>
</form>

