
<div class="container1">
  <mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="onDate" [ngModelOptions]="{standalone: true}" (dateChange)=disableAll()>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<button mat-raised-button color="primary" class="add-button" (click)="openDialog()">ADD</button>
</div>
<br>
<div class ="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <!-- <th>Working Days</th>  
        <th>Present</th>
        <th>Absent</th> -->
        <th>Basic Pay</th>
        <th>HRA</th>
        <th>Other</th>
        <th>Total</th>
        <th>PDF</th>
        <th>Paid</th>  
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of payrollDetails">
        <td>{{emp.empname}}</td>
        <!-- <td></td>
        <td></td>
        <td></td> -->
        <td>{{emp.basicpay}}</td>
        <td>{{emp.hra}}</td>
        <td>
          <button mat-raised-button color="primary" [disabled]="disable" (click)="openDialogmore(emp.empid)" >More</button>   
        </td>
        <td>{{emp.total}}</td>
        <td><button mat-raised-button color="primary" routerLink="/salaryslip/{{emp.empid}}/{{onDate}}">Download</button></td>
        <td><mat-checkbox [checked]="true"></mat-checkbox></td>  
      </tr>
      <tr>
        <td><h6>Total:</h6></td>
        <td colspan="9"></td>
      </tr>
    </tbody>
  </table>
<div>
  <button mat-raised-button color="primary" class="button-generate" (click)="onProcessClick()">Process</button>
</div>
</div>
