<ul *ngIf="!loadEmployee" >
    <mat-card class="example-card" (click)="select($event)" >
        <div id="background">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image" style="margin-top:50px"></div>
          </mat-card-header>
        </div>
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-9">
            <mat-card-content >
                <nav>
                    <a style="color:3355FF"  routerLink="/view/{{employee.emp_id}}"><b>{{employee.name}}</b></a>
                </nav>
                <nav>
                    <a class="title"routerLink="https://webmail.1and1.com/" >{{employee.email}}</a>
                </nav>
                <hr>
                <table>
                  <thead>
                    <tr>
                      <th class="title" >ID</th>
                      <th class="title">ROLE</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="data"><b>{{employee.emp_id}}</b></td>
                      <td class="data" ><b>{{employee.role}}</b></td>
                    </tr>
                  </tbody>
                </table>
            </mat-card-content>
          </div>
        </div>
      </mat-card>


<div class="row"  *ngIf="selected">
  <button mat-raised-button color="primary" style="margin-left:50px;margin-top:20px" (click)="remove()">Remove</button>
  <button mat-raised-button color="primary" style="margin-left:20px;margin-top:20px" (click)="cancel()">Cancel</button>
</div>

</ul>










