<div class="container">
<div class="row">
  <mat-card class="header-card">
          <mat-card-header>
            <div>
            <div>
              <img src={{imageUrl}}>
            </div>
            <div class="imgUpload">
              <label class="imgLabel" for="upload-photo"><i class="fas fa-camera"></i> Choose Photo</label>
              <input type="file" id="upload-photo" (change)="onSelectFile($event)" placeholder="add a logo">
            </div>
          </div>
          </mat-card-header>
         <mat-tab-group >
            <mat-tab label="Profile">
                 <exalt-employee-detail ></exalt-employee-detail>
            </mat-tab>
            <mat-tab label="Leave">
                <exalt-employee-leave ></exalt-employee-leave>
            </mat-tab>
            <mat-tab label="Salary">
              <exalt-employee-salary></exalt-employee-salary>
            </mat-tab>
            <mat-tab label="Attendance">
              <exalt-employee-attendance></exalt-employee-attendance>
            </mat-tab>
            <mat-tab label="Documents">
              <exalt-employee-documents></exalt-employee-documents>
            </mat-tab>
            <mat-tab label="Terms and condition">
              <exalt-employee-term></exalt-employee-term>
              </mat-tab>


          </mat-tab-group>
  </mat-card>
</div>
</div>
