<mat-card >
  <mat-card-header>
      <div>
          <button class="btn btn-primary" (click)="update()">Update Info</button>
      </div>
      <br><hr>
  </mat-card-header>

    <mat-card-content class="mat-ex" >
      <form #f="ngForm">
        <mat-form-field class="form-field">
          <input matInput name="proj_id" value={{project.project_id}} placeholder="Project id"  [attr.contenteditable]=false>
        </mat-form-field>
              <mat-form-field class="form-field">
                  <input matInput name="proj_name" [(ngModel)]="project.project_name"   ngModel placeholder="Project Name">
                </mat-form-field>
                <mat-form-field  class="form-field">
                    <mat-select name="proj_type" [(ngModel)]="project.project_type" ngModel placeholder="Project Type">
                      <mat-option value="web">WEB</mat-option>
                      <mat-option value="android">ANDROID</mat-option>
                      <mat-option value="ios">IOS</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="form-field">
                      <mat-select name="client_company" [(ngModel)]="client_company" placeholder="Client Name">
                          <mat-option *ngFor="let client of allclients" [value]="client.company_name">
                            {{client.company_name}}
                          </mat-option>
                        </mat-select>
                        </mat-form-field>
                  <mat-form-field class="form-field">
                      <input name="startDate" [(ngModel)]="start_Date" ngModel matInput [matDatepicker]="startDate" placeholder="START DATE">
                      <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                      <mat-datepicker #startDate></mat-datepicker>
                  </mat-form-field>

                      <mat-form-field class="form-field">
                          <mat-select name="assigned_emp" [(ngModel)]="assigned_emp" placeholder="Assigned Employee"  multiple>

                            <mat-option *ngFor="let emp of allemployees" [value]="emp.name+emp.role">{{emp.name}}({{emp.role}})</mat-option>
                          </mat-select>
                        </mat-form-field>


      </form>

      <!-- <button mat-raised-button color="warn">Cancel</button>
      <button mat-raised-button color="primary" style="float:right" type="submit" (click)="onAdd(f)">Save</button>  -->
    </mat-card-content>
    </mat-card>
