<div class="container">
<ul>
  <mat-card class="client_item">
    <mat-card-header>
      <div mat-card-avatar class="client_logo">
      <img src={{imageUrl}} >
    </div>
      <mat-card-title><code> {{client.status}} </code><br> <strong><a routerLink="/client-details/{{client.client_id}}">{{client.company_name}}</a></strong></mat-card-title>
      <mat-card-subtitle>{{client.website}}</mat-card-subtitle>
      <mat-card-subtitle>{{client.email}}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</ul>
</div>










