
          <div class="row employee-detail">
            <div class="col-md-6">
              <exalt-basic-info-details *ngIf="employee" [employee]="employee" [id]="id"></exalt-basic-info-details>    
              <exalt-work-details *ngIf="employee" [employee]="employee" [id]="id"></exalt-work-details>  
              <exalt-qualification-details *ngIf="qual" [qual]="qual" [id]="id"></exalt-qualification-details>
              <exalt-expertise-details *ngIf="employee" [employee]="employee" [id]="id"></exalt-expertise-details>
            </div>
            <div class="col-md-6">
              <exalt-personal-info-details *ngIf="employee" [employee]="employee" [id]="id"></exalt-personal-info-details> 
               <exalt-prev-experience-details *ngIf="exp" [exp]="exp" [id]="id"></exalt-prev-experience-details>
              <exalt-dependents-details *ngIf="dep" [dep]="dep" [id]="id"></exalt-dependents-details>
            </div> 
        </div>




          
    
    
      
  

     
