<h2>ADD SALARY DETAILS</h2>
<form #f="ngForm">
  <div class="row"> 
     <div class="col-sm-5">
    <mat-form-field  class="form-field">
     <input matInput name="empid" [(ngModel)]="employeeDetail.empid" placeholder="Employee ID"></mat-form-field>
     <mat-form-field  class="form-field">
    <input matInput name="basicpay" [(ngModel)]="employeeDetail.basicpay"  placeholder="Basic pay"></mat-form-field>
        <mat-form-field  class="form-field">
    <input matInput name="hra" [(ngModel)]="employeeDetail.hra" placeholder="HRA"></mat-form-field>
        <mat-form-field  class="form-field">
    <input matInput name="speallow" [(ngModel)]="employeeDetail.speallow"  placeholder="Special Allowance"></mat-form-field>
        <mat-form-field  class="form-field">
    <input matInput name="medallow" [(ngModel)]="employeeDetail.medallow"  placeholder="Medical Allowance"></mat-form-field>
    </div>
    <div class="col-sm-5">
        <mat-form-field  class="form-field">
    <input matInput name="cedallow" [(ngModel)]="employeeDetail.cedallow" placeholder="Children Education Allowance"></mat-form-field>
        <mat-form-field  class="form-field">
   <input matInput name="bonus" [(ngModel)]="employeeDetail2.bonus" placeholder="Bonus"></mat-form-field>        
        <mat-form-field  class="form-field">
    <input matInput name="arrears" [(ngModel)]="employeeDetail2.arrears" placeholder="Arrears"></mat-form-field>
        <mat-form-field  class="form-field">
    <input matInput name="gwp" [(ngModel)]="employeeDetail2.gwp" placeholder="Gross Wage Payable"></mat-form-field>
        <mat-form-field  class="form-field">                
    <input matInput name="esi" [(ngModel)]="employeeDetail2.esi" placeholder="ESI"></mat-form-field>
    </div>
    <div class="col-sm-5">
        <mat-form-field  class="form-field">
    <input matInput name="wwf" [(ngModel)]="employeeDetail2.wwf"  placeholder="WWF"></mat-form-field>
        <mat-form-field  class="form-field">
    <input matInput name="advance" [(ngModel)]="employeeDetail2.advance" placeholder="Advance"></mat-form-field>
        <mat-form-field  class="form-field">
    <input matInput name="it" [(ngModel)]="employeeDetail2.it" placeholder="IT"></mat-form-field>
        <mat-form-field  class="form-field">
    <input matInput name="others" [(ngModel)]="employeeDetail2.others" placeholder="Others"></mat-form-field>
        <mat-form-field  class="form-field">
    <input matInput name="totded" [(ngModel)]="employeeDetail2.totded" placeholder="Total Deductions"></mat-form-field>
    </div>
     </div>
          <button class="btn btn-primary" (click)="onSave(f)">SAVE</button>
        <button class="btn btn-danger" (click)="onCancel()">CANCEL</button>
</form>