<h2>ADD SALARY DETAILS</h2>
<form #f="ngForm">
  <div class="row"> 

    <div class="col">    
    <mat-form-field  class="form-field">
        <input matInput name="empid" [(ngModel)]="employeeDetail.empid" placeholder="Employee ID"></mat-form-field>
    <mat-form-field  class="form-field">
        <input matInput name="empname" [(ngModel)]="employeeDetail.empname" placeholder="Employee Name"></mat-form-field>
    <mat-form-field  class="form-field">
        <input matInput name="join_date" [(ngModel)]="employeeDetail.join_date" placeholder="Join Date"></mat-form-field>
    <mat-form-field  class="form-field">
        <input matInput name="basicpay" [(ngModel)]="employeeDetail.basicpay"  placeholder="Basic pay"></mat-form-field>
    <mat-form-field  class="form-field">
        <input matInput name="hra" [(ngModel)]="employeeDetail.hra" placeholder="HRA"></mat-form-field>
    <mat-form-field  class="form-field">
        <input matInput name="speallow" [(ngModel)]="employeeDetail.speallow"  placeholder="Special Allowance"></mat-form-field>
    </div>

    <div class="col">
    <mat-form-field  class="form-field">
        <input matInput name="medallow" [(ngModel)]="employeeDetail.medallow"  placeholder="Medical Allowance"></mat-form-field>
    <mat-form-field  class="form-field">
        <input matInput name="conallow" [(ngModel)]="employeeDetail.conallow"  placeholder="Conveyance Allowance"></mat-form-field>
    <mat-form-field  class="form-field">
        <input matInput name="cedallow" [(ngModel)]="employeeDetail.cedallow" placeholder="Children Education Allowance"></mat-form-field>
    <mat-form-field  class="form-field">
        <input matInput name="bonus" [(ngModel)]="employeeDetail.bonus" placeholder="Bonus"></mat-form-field>        
    <mat-form-field  class="form-field">
        <input matInput name="arrears" [(ngModel)]="employeeDetail.arrears" placeholder="Arrears"></mat-form-field>    
    <mat-form-field  class="form-field">
        <input matInput name="lop" [(ngModel)]="employeeDetail.lo" placeholder="LOP"></mat-form-field>    
    </div>
    
    <div class="col">
    <mat-form-field  class="form-field">
        <input matInput name="gwp" [(ngModel)]="employeeDetail.gwp" placeholder="Gross Wage Payable"></mat-form-field>
    <mat-form-field  class="form-field">                
        <input matInput name="esi" [(ngModel)]="employeeDetail.esi" placeholder="ESI"></mat-form-field>
    <mat-form-field  class="form-field">
        <input matInput name="wwf" [(ngModel)]="employeeDetail.wwf"  placeholder="WWF"></mat-form-field>
    <mat-form-field  class="form-field">
        <input matInput name="advance" [(ngModel)]="employeeDetail.advance" placeholder="Advance"></mat-form-field>
    <mat-form-field  class="form-field">
        <input matInput name="it" [(ngModel)]="employeeDetail.it" placeholder="IT"></mat-form-field>   
        <mat-form-field  class="form-field">
                <input matInput name="totded" [(ngModel)]="employeeDetail.totded" placeholder="Total Deductions"></mat-form-field>
    </div>

    <!-- <div class="col-sm-6">

    </div> -->
    </div>
          <button class="btn btn-primary" (click)="onSave(f)">SAVE</button>
        <button class="btn btn-danger" (click)="onCancel()">CANCEL</button>
</form>