<h2>Add Assets</h2>
<form #f="ngForm">
    <div class="container">
        <mat-form-field  class="form-field"> 
          <input matInput name="itemid" placeholder="Item ID" [(ngModel)]="itemid">
        </mat-form-field>
        <mat-form-field  class="form-field"> 
          <mat-select placeholder="Item" name="itemValue" [(ngModel)]="selectedOption1">
            <mat-option *ngFor="let i of item" [value]="i.value">
              {{i.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field  class="form-field"> 
          <mat-select placeholder="company" [(ngModel)]="selectedOption2" name="company">
            <mat-option *ngFor="let c of company" [value]="c.value">
              {{c.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field  class="form-field"> 
            <mat-select placeholder="Model" [(ngModel)]="selectedOption3" name="model">
              <mat-option *ngFor="let m of model" [value]="m.value">
                {{m.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        <mat-form-field class="example-full-width" >
        <input matInput [matDatepicker]="picker" placeholder="Assign Date" [(ngModel)]='onDate'>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field  class="form-field"> 
        <mat-select placeholder="Assign" [(ngModel)]="selectedOption4" name="assign">
          <mat-option *ngFor="let emp of employeeNames" [value]="emp.name">
            {{emp.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
        <button class="btn btn-primary" (click)="onSave(f)">SAVE</button>
        <button class="btn btn-danger" (click)="onCancel()">CANCEL</button>
    </div>
  </form>