<mat-card class="example-card" >
  <mat-card-header class="header">
    <div class="row" style="width:100%">
      <div class="col-md-10">
          <b>Expertise Interests etc.</b>
      </div>
      <div class="col-md-2">
        <span style="margin-left: 50px" ><i class="fas fa-edit" (click)="onEditItem()"></i></span>
        <!-- <span ><i class="fas fa-plus" style="margin-left:25px"  (click)="onAddInterest()"></i></span> -->
       
      </div>
  </div>
  </mat-card-header>
  <mat-card-content class="content" style="text-align: left" >
  <p [attr.contenteditable]="editMode===true ? true : false" (input)="editAbout($event)">{{employee.about}}</p>
  </mat-card-content>

  <hr width="100%">
  <div class="row" style="margin-left:100px;" *ngIf="editMode">
    <button mat-raised-button color="primary" style="margin-right:10px;margin-bottom: 10px" (click)="save()">Save</button>
    <!-- <button mat-raised-button color="accent" style="margin-right:10px;margin-bottom: 10px">Cancel</button> -->
    <button mat-raised-button color="warn" style="margin-right:10px;margin-bottom: 10px">Delete</button>
  </div>
</mat-card>


