<div class="container">
  <div class="row">
    <a routerLink="/client-list"><button class="btn btn-primary">Back</button></a>
    <button class="btn btn-primary" (click)="statusChange()">{{label}}</button>
    <button class="btn btn-primary" (click)="remove()">Remove Client</button>
  </div>
  <hr>
  <div class="row" *ngIf="client">
    <div class="col-md-4"></div>
    <div class="col-md-4 header">
        <img src={{imageUrl}}>
       <h5><b>{{client.company_name}}</b></h5>
      </div>
      <div class="col-md-4"></div>
  </div>
  <hr>
  <div class="row">
      <mat-tab-group style="width:100%"> 
          <mat-tab label="Main"></mat-tab>
         <mat-tab  label="Info"> 
            <exalt-info *ngIf="client" [client]="client"></exalt-info>
          </mat-tab>
          <mat-tab label="Payements">
            <exalt-client-payment *ngIf="client" [client]="client"></exalt-client-payment> 
          </mat-tab>
          <mat-tab label="Documents">  </mat-tab>
          <mat-tab label="Bookings">  </mat-tab>
      </mat-tab-group>
  </div>
 
</div>
  
