<div class="container">
  <div class="row">
    <a routerLink="/client-list"><button class="btn btn-primary">Back</button></a>
    <button class="btn btn-primary" (click)="statusChange()">{{label}}</button>
    <button class="btn btn-primary" (click)="remove()">Remove Client</button>
  </div>
  <hr>
  <div class="row" *ngIf="client">
    <div class="col-md-3"></div>
    <div class="col-md-6 header">
      <div>
        <div>
          <img src={{imageUrl}}>
        </div>
        <div class="imgUpload">
          <label class="imgLabel" for="upload-photo"><i class="fas fa-camera"></i> Choose Photo</label>
          <input type="file" id="upload-photo" (change)="onSelectFile($event)" placeholder="add a logo">
        </div>
      </div>
      <div class="clientInfo">
        <h1><b>{{client.company_name}}</b></h1>
        <h2>{{client.website}}</h2>
      </div>
      <div class="col-md-3"></div>
    </div>

  </div>
  <hr>
  <div class="row">
      <mat-tab-group style="width:100%">
         <mat-tab  label="Info">
            <exalt-info *ngIf="client" [client]="client"></exalt-info>
          </mat-tab>
          <mat-tab label="Payements">
            <exalt-client-payment *ngIf="client" [client]="client"></exalt-client-payment>
          </mat-tab>
          <mat-tab label="Documents">
            <exalt-client-doc ></exalt-client-doc>  </mat-tab>
          <mat-tab label="Projects">  </mat-tab>
      </mat-tab-group>
  </div>

</div>

