.example-card{
  background-color:#BDBDBD;
  padding: 37px;
  margin-top: 37px;
  width: 19%;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.5);
}
.material-icons{

  font-size: 10px;

}
.mat-raised-button{
  margin-top:11px;
  float:right;

}

