
  .button1{
    margin-left:40px;
  }
  .btn.btn-primary
  {
    margin-left:330px;
  }
  .btn.btn-danger
  {
    margin-left:9px;
  }
  .row
  {
    width: 750px;
  }
  .col-sm-5{
    max-width: 250px;
  }
