<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
            <form #f="ngForm">
        
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th style = "color:#666869">Dependent Name</th>
                    <th style = "color:#666869">Relationship</th>     
                    <th style = "color:#666869">Occupation</th>
                  </tr>
                </thead>
                <tbody>
                 
                  <tr>
                    <!-- <form #newForm="ngForm"> -->
                    <td>
                      <mat-form-field class="example-full-width">
                        <input matInput name="newName" [(ngModel)]="newDep.name" required >
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="example-full-width">
                       <input matInput name="newRelation" [(ngModel)]="newDep.relation" required >
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="example-full-width">
                        <input matInput name="newOccupation" [(ngModel)]="newDep.occupation" required >
                      </mat-form-field>
                    </td>
                </tr>
                </tbody>
               
            </table>
          
          </form>
          <div style="margin-left:320px">
              
              <button mat-raised-button color="accent" 
              style="margin:20px" (click)=closePopup()>Cancel</button>
              <button mat-raised-button color="primary"
              style="margin:20px" (click)="onAdd()">Add</button>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>          