<mat-form-field  class="form-field">
  <mat-select placeholder="Choose Employee" [(ngModel)]="selectedOption" name="empname" (selectionChange)="onNameChange(selectedOption)">
  <mat-option *ngFor="let emp of employeeNames" [value]="emp.emp_id">
    {{emp.name}}
  </mat-option>
  </mat-select>
</mat-form-field>
<mat-card *ngIf="navbar" class="card">
  <p class="tab"><b>
                    <label>Employee Name:</label>{{employeeDetails.name}}
                    <label>Employee ID:</label>{{employeeDetails.empid}}
                    <label>Join Date:</label>{{employeeDetails.join_date}}
                    <label>Date Of Birth:</label>{{employeeDetails.dob}}
                    <label>Gender:</label>{{employeeDetails.gender}}
                  </b>
  </p>
</mat-card>
<nav mat-tab-nav-bar *ngIf="navbar" class="navbar">
    <mat-tab-group style="width:200%" #tabGroup>
        <mat-tab label="INCOME"><exalt-income></exalt-income></mat-tab>
       <mat-tab  label="PREVIOUS EMPLOYER"></mat-tab>
        <mat-tab label="EXMPTIONS"><exalt-exemptions [empid]="empid"></exalt-exemptions></mat-tab>
        <mat-tab label="PERQUISITE"><exalt-perquisite [empid]="empid"></exalt-perquisite></mat-tab>
        <mat-tab label="DEDUCTIONS"><exalt-deductions></exalt-deductions></mat-tab>
        <mat-tab label="OTHER INCOME"><exalt-otherincome></exalt-otherincome></mat-tab>
        <mat-tab label="HOUSE PROPERTY INCOME"><exalt-houseproperty [empid]="empid"></exalt-houseproperty></mat-tab>
        <mat-tab label="RESULT"><exalt-result></exalt-result></mat-tab>
      </mat-tab-group>
</nav>
