<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <mat-form-field  class="form-field">
      <mat-select placeholder="Choose Employee" [(ngModel)]="selectedOption" name="empname" (selectionChange)="onNameChange(selectedOption)">
      <mat-option *ngFor="let emp of employeeNames" [value]="emp.emp_id">
        {{emp.name}}
      </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-md-4"></div>
</div>


<mat-card *ngIf="navbar" class="card">
  <p class="tab"><b>Employee Name: {{employeeDetails.name}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Employee ID: {{employeeDetails.empid}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Join Date: {{employeeDetails.join_date|date}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Date Of Birth: {{employeeDetails.dob|date}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Gender: {{employeeDetails.gender}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </b>
  </p>
</mat-card>
<!-- <nav mat-tab-nav-bar *ngIf="navbar" class="navbar"> -->
    <mat-tab-group style="width:120%">
        <mat-tab label="INCOME"><exalt-income *ngIf="empid" [id]="empid"></exalt-income></mat-tab>
       <mat-tab  label="INCOME FROM PREVIOUS EMPLOYER"></mat-tab>
        <mat-tab label="EXEMPTIONS"><exalt-exemptions></exalt-exemptions></mat-tab>
        <mat-tab label="PERQUISITE"><exalt-perquisite></exalt-perquisite></mat-tab>
        <mat-tab label="DEDUCTIONS"><exalt-deductions></exalt-deductions></mat-tab>
        <mat-tab label="OTHER INCOME"><exalt-otherincome></exalt-otherincome></mat-tab>
        <mat-tab label="HOUSE PROPERTY INCOME"><exalt-houseproperty [empid]="empid"></exalt-houseproperty></mat-tab>
        <mat-tab label="RESULT"><exalt-result></exalt-result></mat-tab>
      </mat-tab-group>
<!-- </nav> -->
