<kendo-grid 
[data]="gridView"
[pageSize]="pageSize"
[skip]="skip"
[pageable]="true"
(pageChange)="pageChange($event)"
>
  <kendo-grid-column field="year" title="Year" width="20">
  </kendo-grid-column>
  <kendo-grid-column field="month" title="Month" width="20">
  </kendo-grid-column>
  <kendo-grid-column field="Discontinued" title="Download" width="20">
      <ng-template kendoGridCellTemplate>
          <button class="btn btn-primary">Download</button>
      </ng-template>
  </kendo-grid-column>
</kendo-grid>
`