<!-- <nav mat-tab-nav-bar>
  <a class="tab" mat-tab-link >EVENTS</a>
  <a class="tab" mat-tab-link routerLink ="/company-profile">COMPANY PROFILE</a>
</nav>
 -->
<div class="row">
<div class="col-md-6">
  <h3>EXALTURE SOFTWARE LABS</h3>
</div>
<div class="row">
  <div class="col-md-12">
<p>Exalture is a cutting edge technology company catering to mobile applications on platforms such as iOS and Android.
  Exalture is a well known contributor to mobile development framework like Appcelerator.
  Our mission is to enable our clients who need to innovate and deliver fast, to high standards, with tight resources.
   We provide software design and delivery, and expert consulting to make our clients succeed.
    We do this by a mix of cutting edge thinking, practices and technologies with tried and tested approaches to give our clients an edge: exciting new customer experiences, powered by the latest technologies, created in the simplest way possible.
</p>
</div>
</div>
