<!-- <div class="container"> -->
<div class="row">
    <button class="btn btn-primary" (click)="startNewLeave()">New Transaction</button>
    <button class="btn btn-primary" (click)="addPrivilageLeave()">Add Privilage Leave</button>
</div>
<!-- <div class="row"> -->
  <!-- <div class="col-md-12"> -->
      <mat-tab-group> 
          <!-- #tabGroup [selectedIndex]="selected.value"
          (selectedIndexChange)="selected.setValue($event)" -->
          <mat-tab label="Overview"> 
            <exalt-employee-leave-detail ></exalt-employee-leave-detail>
           </mat-tab>
           <mat-tab  label="All Leaves"> 
             <exalt-all-leaves></exalt-all-leaves>
          </mat-tab>
        </mat-tab-group>
  <!-- </div> -->
<!-- </div> -->
<!-- </div> -->
