<h2>Basic Salary Details</h2>
<form>
    <div class="container">
       <mat-form-field  class="form-field">
        <input matInput placeholder="Employee ID" name="empid"></mat-form-field>
     <mat-form-field  class="form-field">
       <input matInput placeholder="Basic pay"></mat-form-field>
           <mat-form-field  class="form-field">
       <input matInput placeholder="HRA"></mat-form-field>
           <mat-form-field  class="form-field">
       <input matInput placeholder="Special Allowance"></mat-form-field>
           <mat-form-field  class="form-field">
       <input matInput placeholder="Medical Allowance"></mat-form-field>
           <mat-form-field  class="form-field">
       <input matInput placeholder="Children Education Allowance"></mat-form-field>

    <div class="row" style="margin-left:120px">
          <div><button class="btn btn-primary">SAVE</button></div>
          <button class="btn btn-danger">RESET</button>
        </div>
        </div>
    </form>
    