<h2>Basic Salary Details</h2>
<form #f="ngForm">
    <div class="container">
       <mat-form-field  class="form-field">
        <input matInput name="empid" ngModel placeholder="Employee ID"></mat-form-field>
        <mat-form-field  class="form-field">
                <input matInput name="empname" ngModel placeholder="Employee Name"></mat-form-field>        
     <mat-form-field  class="form-field">
       <input matInput name="basicpay" ngModel placeholder="Basic pay"></mat-form-field>
           <mat-form-field  class="form-field">
       <input matInput name="hra" ngModel placeholder="HRA"></mat-form-field>
           <mat-form-field  class="form-field">
       <input matInput name="speallow" ngModel placeholder="Special Allowance"></mat-form-field>
           <mat-form-field  class="form-field">
       <input matInput name="medallow" ngModel placeholder="Medical Allowance"></mat-form-field>
           <mat-form-field  class="form-field">
       <input matInput name="cedallow" ngModel placeholder="Children Education Allowance"></mat-form-field>
       
    
        <div class="row" style="margin-left:120px">
          <div><button class="btn btn-primary" type="submit" (click)="onSave(f)">SAVE</button></div>
          <button class="btn btn-danger" (click)="onReset()">CANCEL</button>
        </div>
        </div>
    </form>

    