.double {
  border-style: double;
  margin:100px;
  padding:30px;
  overflow:auto;
}

.text {
  font-family: "Times New Roman", Times, serif;
  color:hsl(240, 0%, 75%);

}

table {
    text-align: center;
    margin-top: 20px;
}

.noborder {
  border:none;
}

h1{
  font-size : 40px;
}
