<div class="container-fluid">
<div class="xl">
  <h2> </h2>
</div>
<div class="row">
  <div class="col-md-12">
    <ol>
      <li>You will be employed as Junior Software Engineer or in any similar capacity as may be
        required by the company and you will be required to carry out your duties anywhere in India.
        </li>
        <li>
          You will be initially appointed on a probationary period of three (3) months, during which
time your performance will be reviewed. On successful completion of probationary period, and
unless you hear from us, your services will be deemed confirmed.

        </li>
        <li>
          You agree to give your whole time services to us and not directly enter into any other
employment or business indirectly (except as shareholder or debenture) without our specific
consent in writing during the currency of this agreement. You also agree to work and reside
where we require to abide by all applicable regulations, practices and instructions in operation
for the guidance and conduct of staff and business.

        </li>
        <li>
          This contract is deemed to commence effective from the date you join the
          Company and will be reviewed once in every year on the 1 st of January, and will be effective for
          a period of 12 months unless you receive one month notice to the contrary.

        </li>
        <li>
          We agree to pay your monthly salary in arrears  with the following split up.
Basic+DA : INR
House Rent Allowance : INR
Conveyance Allowance : INR
Special allowance : INR
Medical Allowance : INR
Children Education Allowance : INR

        </li>
        <li>
          As a regular employee of the company, you will also be eligible for Company’s benefits, as
          established from time to time. The company reserves the right to modify, amend or terminate any
          employee benefits or compensation programs at any time for any reason, without compensation
          for any such change or discontinuance.

        </li>
        <li>
            Your hours of work will be laid down by the Company. Core working hours in the company
            shall be for 9 hours a day with 30 minutes lunch break. However, the employee shall work
            additional hours to meet the schedule. Company does not provide any overtime for any
            additional hours.


        </li>
        <li>
            You are entitled for sick leave of 8 days, provided by submitting a Medical practitioner’s
            certificate,12 casual leaves per year with 1 per month and privilege leaves are also available.

        </li>
        <li>
            You are entitled for Annual Bonus &amp; Increment depending on the Company profit. However
            this will be under discretion of Management.

        </li>
        <li>
            Any in house application trainings beneficial for the employee shall be afforded by the
            employee himself.

        </li>
        <li>
            If any declaration given or information furnished by you to the Company proves to be false
            or if you are found to have willfully suppressed or concealed any material information, in such
            cases, you will be liable to removal from employment without any notice.

        </li>
        <li>
            Employment with Company is for specific period of time. As a result, either you or the
            Company is free to terminate the employment relationship for any reason, without cause by
            giving one month’s notice or by payment of basic Salary in lieu of notice in case of termination
            of your employment by the company.

        </li>
    </ol>
  </div>
</div>
</div>
