<mat-card >
  <mat-card-header>
      <div>
          <button class="btn btn-primary" style="float:right" (click)="update()">Update Info</button>

      </div>
      <br><hr>
  </mat-card-header>
  <mat-card-content>
   <form #f="ngForm">
        <mat-form-field class="form-field">
            <input matInput name="company_name" [(ngModel)]="clientInfo.company_name"  placeholder="Company Name">
        </mat-form-field>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="form-field">
              <input matInput name="client_id" value={{clientInfo.client_id}} placeholder="Client ID" [attr.contenteditable]=false>
            </mat-form-field><br>
            <mat-form-field class="form-field">
              <input matInput name="website" [(ngModel)]="clientInfo.website"  placeholder="Website">
            </mat-form-field><br>
            <mat-form-field class="form-field">
              <input matInput  name="city" [(ngModel)]="clientInfo.city" placeholder="City">
            </mat-form-field><br>
            <mat-form-field class="form-field">
              <input matInput  name="zip_code" [(ngModel)]="clientInfo.zip_code"  placeholder="Zip Code">
            </mat-form-field><br>
            <mat-form-field class="form-field">
              <input matInput name="email" [(ngModel)]="clientInfo.email"  placeholder="Email">
            </mat-form-field><br>
            <mat-form-field class="form-field">
              <input matInput name="phone"  [(ngModel)]="clientInfo.phone" placeholder="Phone">
            </mat-form-field><br>
            <mat-form-field class="form-field">
              <input matInput name="mob_num" [(ngModel)]="clientInfo.mob_num"  placeholder="Mobile Number">
            </mat-form-field><br>
            <mat-form-field class="form-field">
              <input matInput name="currency" [(ngModel)]="clientInfo.currency"  placeholder="Currency">
            </mat-form-field><br>
          </div>
          <div class="col-md-6">
            <mat-form-field class="form-field">
              <input matInput name="address" [(ngModel)]="clientInfo.address"  placeholder="Address 2">
            </mat-form-field><br>
            <mat-form-field class="form-field">
              <input matInput name="industry_type" [(ngModel)]="clientInfo.industry_type"  placeholder="Industry Type">
            </mat-form-field><br>
            <mat-form-field class="form-field">
              <input matInput name="state" [(ngModel)]="clientInfo.state"  placeholder="State">
            </mat-form-field><br>
            <mat-form-field class="form-field">
              <input matInput name="country" [(ngModel)]="clientInfo.country"  placeholder="Country">
            </mat-form-field><br>
            <mat-form-field class="form-field">
              <input matInput name="alternative_email" [(ngModel)]="clientInfo.alternative_email"  placeholder="Alternative Email">
            </mat-form-field><br>
            <mat-form-field class="form-field">
              <input matInput name="fax" [(ngModel)]="clientInfo.fax"   placeholder="Fax">
            </mat-form-field><br>
            <mat-form-field class="form-field">
              <textarea matInput name="note" [(ngModel)]="clientInfo.note" placeholder="Note"></textarea>
            </mat-form-field>

          </div>
        </div>

      </form>

    </mat-card-content>

  </mat-card>

