.date{
    margin-left: 540px;
    margin-top:50px;
}
th{
    background-color: #3c5076;
    border-color:  #3c5076;
    color: #fff;
}


.btn btn-success{
    width: 65%;
    margin-left: 85px;
}
.btn btn-danger{
    width: 65%;
    margin-left: 85px;
}



.Present{
    width:1px;
}


.col-sm-3 head
{   
    color: #fff;
    

}
.chk{
    width:85px;
}
.tdk{
    width:180px;
}
.tid{
    width:108px;
}
.container{
    // background-color: #3c5076;
    padding: 18px;
    margin-left:12%;
    margin-top:5px;
    width:75%;
    // color:#fff;
    border-radius: 2px;

    
}
