
<mat-form-field  class="date" >
    <input matInput [matDatepicker]="picker" name="crd" [(ngModel)]=" todaydate" placeholder="Choose a date"
    (dateChange)="onSaveDate()">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker ></mat-datepicker>
   
  </mat-form-field>
  
  
<div class="container">
 <table class="table table-bordered" >
    <thead>
      <tr>
        <th>EmpID</th>
        <th>Name</th>
        <th>Checkin</th>
        <th>Checkout</th>
        <th>TotalHours</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let emp of allEmployees">
        <td class="tid">{{emp.emp_id}}</td>
        <td class="tdk">{{emp.name}}</td>
        <td class="chk"><button class="btn btn-success" [disabled]="getLeaveStatus(emp.emp_id)||getCheckinStatus(emp.emp_id)"
          (click)="onCheckin(emp.emp_id)"> Checkin</button></td>
        <td class="chk">
          <button class="btn btn-danger" 
            [disabled]="initial()&&(!getCheckinStatus(emp.emp_id)||getLeaveStatus(emp.emp_id)||getCheckoutStatus(emp.emp_id))"
            (click)="onCheckout(emp.emp_id)"> Checkout
          </button>
        </td>
        <td class="tid"></td>
      </tr>
    </tbody>
  </table>
 
</div>
 
  

 