.date{
    margin-left: 520px;
}
th{
    background-color: #006064;
    border-color:  #006064;
    color: #fff;
}


button{
    width:100%;
}

.btn-process{
    margin-left:79%;
    width:12%;
    padding: 10px;
    color:#fff;
    background-color:#1565C0;
    border-color: #1565C0;
    border-radius:5px;
    margin-top: 18px;

}

.Present{
    width:1px;
}


.col-sm-3 head
{   
    color: #fff;
    

}
.container{
    background-color: #3c5076;
    padding: 20px;
    margin-left:5%;
    margin-top:5px;
    width:80%;
    color:#fff;
    border-radius: 2px;

    
}
