.date{
    margin-left: 500px;
}
.checkin{
width:15%;
}
.checkout{
    width:15%;
    
}

.btn-process{
    margin-left:75%;
    width:12%;
    height:30%;
    color:#fff;
    background-color: #0D47A1;
    border-color: #0D47A1;
    border-radius:5px;
    margin-top: 20px;

}