
<mat-form-field  class="date" >
    <input matInput [matDatepicker]="picker" name="crd" [(ngModel)]=" todaydate" placeholder="Choose a date"
    (dateChange)="onSaveDate()">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker ></mat-datepicker>
   
  </mat-form-field>
  <button mat-raised-button class="matbutton" (click)="onEdit()"><span ><i class="fas fa-edit"> Edit</i></span></button>
  
<div class="container">
 <table class="table table-bordered" >
    <thead>
      <tr>
        <th>EmpID</th>
        <th>Name</th>
        <th >Check in</th>
        <th>Check out</th>
        <th>Hours</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let emp of allEmployees">
        <td>{{emp.emp_id}}</td>
        <td>{{emp.name}}</td>
        <!-- <td class="checkin">
          <button *ngIf="!getCheckinStatus(emp.emp_id)"  type="button" class="btn btn-success" 
          [disabled]="getLeaveStatus(emp.emp_id)"
          (click)="onCheckin(emp.emp_id)"><span> <i class="fa fa-clock-o" aria-hidden="true" ></i></span>
          Checkin</button>
          <p *ngIf="getCheckinStatus(emp.emp_id)">{{getCheckinTime(emp.emp_id)}}</p>
        </td>
        <td class="checkout">
          <button *ngIf="getCheckinStatus(emp.emp_id)&&!getCheckoutStatus(emp.emp_id)"  type="button" class="btn btn-danger" 
            [disabled]="getLeaveStatus(emp.emp_id)"
            (click)="onCheckout(emp.emp_id)">
            <span> <i class="fa fa-clock-o" aria-hidden="true"></i></span>Checkout
          </button>
          <p *ngIf="getCheckoutStatus(emp.emp_id)">{{getCheckoutTime(emp.emp_id)}}</p>
        </td> -->
        <td >
            <button  type="button" class="btn btn-success" 
            [hidden]="getCheckinStatus(emp.emp_id)"
            [disabled]="getLeaveStatus(emp.emp_id)"
            (click)="onCheckin(emp.emp_id)"><span> <i class="fa fa-clock-o" aria-hidden="true" ></i></span>
            Checkin</button>
            <p [hidden]="!getCheckinStatus(emp.emp_id)">{{getCheckinTime(emp.emp_id)}}</p>
          </td>
          <td >
            <button 
              type="button" class="btn btn-danger" 
              [hidden]="getCheckoutStatus(emp.emp_id)"
              [disabled]="getLeaveStatus(emp.emp_id)||!getCheckinStatus(emp.emp_id)"
              (click)="onCheckout(emp.emp_id)">
              <span> <i class="fa fa-clock-o" aria-hidden="true"></i></span>Checkout
            </button>
            <p [hidden]="!getCheckoutStatus(emp.emp_id)">{{getCheckoutTime(emp.emp_id)}}</p>
          </td>
        <td><p *ngIf="getCheckoutStatus(emp.emp_id)">{{getHours(emp.emp_id)}}</p></td>
      </tr>
    </tbody>
  </table>
 
</div>
 
  

 