

.col-md-12{
    background-color:darkgrey;
    height: 120px;
    font-size: 35px;
}
.btn-primary{
    margin:10px;
    width:125px;
    height:35px;
    margin-left:840px;
    font-size: 15px;
    border-radius:5px;
}
.btn-danger{
    margin:10px;
    width:145px;
    height:35px;
    font-size: 15px;
    border-radius:4px;


}
