
<div class="row">
  <div class="col-md-6">
      <div class="imgUpload">

          <label class="btn btn-default">  <input type="file"
            (change)="onSelectFile($event)">
          </label>
        <button class="btn btn-success" [disabled]="!selected"
        (click)="upload()">Upload</button>
      </div>
        <mat-list>
            <h3 mat-subheader>Documents</h3>
            <mat-list-item *ngFor="let item of url ; let i = index">
              <mat-icon mat-list-icon>note</mat-icon>
              <a [href]="item.url" target="_blank" mat-line>{{item.name}}</a>
              <mat-divider></mat-divider>
            </mat-list-item>

          </mat-list>


  </div>

  </div>



