
.container-fluid{

  width: 1136px;
    padding: 50px;
    margin-top: 20px;
    border-radius:10px;
}
.imgUpload{
  margin:20px;
}
.btn btn-default{
  width:50px;
}
.btn-success{
  width:124px;
}
.row{
  width: 1000px;
}
a{
  text-decoration: none;
}
.doc{
  width: 400px;
    height: 350px;
    margin: 105px
}
.link{
  background: none;
  border:none;
  color: steelblue;
  width: 208px;
}

