
<table class="table table-bordered">
  <th class="head">Component</th>
  <th class="head">Total</th>
    <tr><th class="head">Vehicle Perquisite</th><td><input matInput name="vehper" [(ngModel)]="perquisites.vehper" (change)="onChange('vehper')"></td></tr>
    <tr><th class="head">House Perquisite</th><td><input matInput name="hoper" [(ngModel)]="perquisites.hoper" (change)="onChange('hoper')"></td></tr>
    <tr><th class="head">Assets in Residence</th><td><input matInput name="assres" [(ngModel)]="perquisites.assres" (change)="onChange('assres')"></td></tr>
    <tr><th class="head">Loan Perquisite</th><td><input matInput name="loanper" [(ngModel)]="perquisites.loanper" (change)="onChange('loanper')"></td></tr>
  </table>
  <div class="total">
      <h1>Total:{{perquisites.total}}</h1>
  </div>

  <div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-2">
        <button class="btn btn-primary" (click)="onSaveClick()">SAVE</button>
        <button class="btn btn-danger">CANCEL</button>
    </div>
    <div class="col-md-5"></div>
  </div>

