
table {
  margin-left: 30%;
  width: 40%;
  background-color: #EEF5F5;
}
th {
  text-align: left;
  color: black
}
table, th, td,tr {
  border: 2px solid #f5f0f0;
}
input{
  width: 200px;
  background-color: white;
  padding: 15px;
}
td{
  width: 200px;
  padding: 10px;
}
