
table {
  margin-left: 30%;
  width: 40%;
}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: black
}
table, th, td,tr {
  border: 2px solid #f5f0f0;
}
input{
  width: 200px;
  background-color: white;
}
td{
  width: 200px;
}
