<div class="container">
  <div class="row">
    <div class="col-md-10">
      <div class="card">
        <div class="card-body">
            <form #f="ngForm">
                <mat-form-field class="example-full-width">
                  <label style = "color:#666869">Employee ID</label>
                  <input matInput
                        id="empID"
                        name="empID"
                        [(ngModel)]="basic.emp_id"
                        required
                         >
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <label style = "color:#666869">First Name</label>
                  <input 
                        matInput 
                        id="firstName"
                        name="firstName"
                        [(ngModel)]="basic.firstname"
                        required
                        >
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <label style = "color:#666869">Last Name</label>
                  <input 
                        matInput 
                        id="lastName"
                        name="lastName"
                        [(ngModel)]="basic.lastname"
                        required
                        >
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <label style = "color:#666869">Email</label>
                  <input 
                        matInput 
                        type="email"
                        id="email"
                        name="email"
                        [(ngModel)]="basic.email"
                        required
                        >
                </mat-form-field>
               <div class="mat-radio-button">
                  <label style = "color:#666869">Gender</label>
                  <mat-radio-group  name="gender" [(ngModel)]="basic.gender">
                    
                    <mat-radio-button 
                             
                              value="male" 
                              style = "color:#666869" 
                              required>Male</mat-radio-button>
                    <mat-radio-button 
                              
                              value="female" 
                              style = "color:#666869" 
                              >Female</mat-radio-button>
                    <mat-radio-button
                             
                              value="others" 
                              style = "color:#666869"
                              >Others</mat-radio-button>
                  </mat-radio-group> 
               </div>
               
               
              </form>
              <div>
                  <button mat-raised-button color="primary" matStepperNext
                  style="margin-left:400px;margin-top: 20px" (click)="onAdd()">Next</button>
              </div>
        </div>
      </div>
      
    </div>
  </div>
</div>


    


