<div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
              <form #f="ngForm">
                  <mat-form-field class="example-full-width">
                      <label style = "color:#666869">Total</label>
                      <input matInput
                            id="total"
                            (input)="autoFill($event)"
                            name="total"
                            [(ngModel)]="salary.total"
                            required
                           >
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <label style = "color:#666869">Basic Pay</label>
                    <input matInput
                          name="basicpay"
                        [(ngModel)]="salary.basicpay"
                          required
                         >
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <label style = "color:#666869">HRA</label>
                      <input matInput
                            name="hra"
                          [(ngModel)]="salary.hra"
                            required
                           >
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <label style = "color:#666869">Medical Allowance</label>
                      <input matInput
                            name="medallow"
                            [(ngModel)]="salary.medallow"
                            required
                           >
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                      <label style = "color:#666869">conveyance allowance</label>
                    <input matInput
                          name="conallow"
                          [(ngModel)]="salary.conallow"
                          required
                         >
                  </mat-form-field>

                    <mat-form-field class="example-full-width" >
                        <label style = "color:#666869">Children Education Allowance</label>
                      <input matInput
                            name="cedallow"
                            [(ngModel)]="salary.cedallow"
                            required
                            >
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <label style = "color:#666869">Special Allowance</label>
                      <input matInput
                            name="speallow"
                            [(ngModel)]="salary.speallow"
                            required
                           >
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <label style = "color:#666869">WWF</label>
                      <input matInput
                            name="wwf"
                            [(ngModel)]="salary.wwf"
                            required
                           >
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                      <label style = "color:#666869">ESI</label>
                    <input matInput
                          name="esi"
                          [(ngModel)]="salary.esi"
                          required
                         >
                  </mat-form-field>

                  <mat-form-field class="example-full-width">
                    <label style = "color:#666869">PT</label>
                  <input matInput
                        name="pt"
                        [(ngModel)]="salary.pt"
                        required
                       >
                </mat-form-field>
                </form>
                  <button mat-raised-button color="accent" matStepperPrevious
                  style="margin:20px">Prev</button>
                  <button mat-raised-button color="primary" matStepperNext
                  style="margin:20px" (click)=onAdd()>Next</button>
                </div>

        </div>

      </div>
    </div>
  </div>


